.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.headerContainer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 15px;
}

.logo img {
  width: 35px;
  height: auto;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  height: 35px;
  width: 25rem;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border: 2px solid var(--gray);
  background: transparent;
  font-size: 1rem;
  padding: 20px;
  color: white;
  outline: none;
}

.search input:focus {
  border: 2px solid rgba(93, 152, 255, 0.5);
}

.search svg {
  color: white;
  font-size: 25px;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 43px;
  background-color: var(--gray);
  border: 2px solid var(--gray);
  border-left: none;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.profile svg {
  width: 30px;
  height: auto;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
}

.buttonContainer::-webkit-scrollbar {
  display: none;
}

.buttonContainer button {
  background-color: var(--gray);
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
}

.buttonContainer button.active {
  color: rgb(59, 59, 59);
  background-color: white;
}

.arrowContainer {
  position: relative;
  width: calc(100vw - 50px - 6rem);
  margin: 0 2rem;
}

.arrow {
  width: 80px;
  height: 37px;
  position: absolute;
  display: flex;
  align-items: center;
}

.left {
  top: 0;
  left: 0;
  justify-content: flex-start;
  background-image: linear-gradient(to right, black, black, black, transparent);
}

.right {
  top: 0;
  right: 0;
  justify-content: flex-end;
  background-image: linear-gradient(to left, black, black, black, transparent);
}

.arrow svg {
  font-size: 1.5rem;
}
