.container {
  width: 100%;
  gap: 1rem;
  padding: 1rem 11rem;
  display: flex;
  flex-direction: column;
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  gap: 1rem;
}

.itemContainer img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
  gap: 1rem;
}

.imageContainer {
  width: 100%;
  position: relative;
}

.imageContainer p {
  position: absolute;
  top: 80%;
  right: 3%;
  color: white !important;
  background: black;
  border-radius: 5px;
  padding: 2px 4px;
  font-size: 0.8rem;
}

.itemContainer p {
  color: rgb(129, 129, 129);
}

.itemContainer h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-block: 10px;
  font-size: 13px;
}

.info svg {
  color: rgb(129, 129, 129);
  font-size: 1rem;
}

.title {
  padding-block: 10px;
}

.profile,
.loading {
  width: 28px !important;
  height: 28px !important;
  border-radius: 100px !important;
}

.profile {
  margin-right: 8px;
  margin-bottom: 0 !important;
}

.loading {
  background-color: gray;
}
