.homeContainer {
  display: grid;
  grid-template-columns: 70px 1fr;
}

.contentContainer {
  width: 100%;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contentContainer::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .homeContainer {
    grid-template-columns: 1fr;
  }
}
